body{
    
    font-family: sans-serif;

font-weight: 400;
    background-color: whitesmoke;
}
h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    
}

.box{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
   padding: 172px 300px ;
   

}
.SEDANS{
    flex-basis: auto;
    background  : hsl(31, 77%, 52%);
    color: #fff;
    padding: 42px 42px;
    font-size: 15px;
    line-height: 2.0;
    border-radius: 12px 0px 0px 12px;

}
.suvs {
    flex-basis: auto;
    background: hsl(184, 100%, 22%);
    color: #fff;
    padding: 42px 42px;
    font-size: 15px;
    line-height: 2.0;
    
    
    
    
}

.luxury{
    flex-basis: auto;
    background: hsl(179, 100%, 13%);
    color: #fff;
    padding: 42px 42px;
    font-size: 15px;
    line-height: 2.0;
    border-radius: 0px 12px 12px 0px;
 
}
button{
    
    padding: 10px 24px;
    border: 0px;
    border-radius: 50px;
    font-size: 15px;
    color:rebeccapurple;
    margin: 100px 12px 0px;
    font-family: "Lexend Deca", sans-serif;
    transition: all 0.5s ease-in-out;
            
}

 button:hover {
    color: #fff;
    background: transparent;
    border: 1px solid;

 }